html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: rgb(234, 228, 255);
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*     
header {
    display: grid;
    width: 100%;
    align-items: center;
    grid-area: header;
    text-align: center;
    font-size: 40px;
    min-height: 70px;
    background-color: #00BD39;
    border-radius: 10px;
}

.item-a {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    min-height: 325px;
    grid-area: item-a;
    background-color: #60016D;
    border-radius: 10px;
}

.item-a img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.item-b {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 10px 0px 10px 0px;
    min-height: 25px;
    grid-area: item-b;
    background-color: #9303A7;
    border-radius: 10px;
}
.item-b p {
    position: relative;
    left: 10px;
}

.item-c {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 10px 0px 10px 0px;
    min-height: 25px;
    grid-area: item-c;
    background-color: rgb(116, 116, 163);
    border-radius: 10px;
}
.item-c p {
    position: relative;
    left: 10px;
}
.item-d {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 10px 0px 10px 0px;
    min-height: 100px;
    grid-area: item-d;
    background-color: rgb(116, 116, 163);
    border-radius: 10px;
}
.item-d h3, p {
    position: relative;
    left: 10px;
    width: 95%;
}
.item-d p {
    text-align: justify;
}
.item-d h3 {
    margin: 0 0 5px 0;
    padding: 0px;
}


.item-e {
    min-height: 100px;
    grid-area: item-e;
    background-color: rgb(148, 148, 199);
    border-radius: 10px;
}

footer {
    min-height: 100px;
    grid-area: footer;
    background-color: #60016D;
    border-radius: 10px;
}

.container {
    display: grid;
    grid-gap: 10px;
    max-width: 1024px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header header header" 
        "item-a item-a item-b item-b item-b item-b" 
        "item-a item-a item-c item-c item-c item-c" 
        "item-a item-a item-d item-d item-d item-d" 
        "item-e item-e item-e item-e item-e item-e" 
        "footer footer footer footer footer footer";
} */

@media screen and (min-width: 480px) {
    header {
        display: grid;
        width: 100%;
        align-items: center;
        grid-area: header;
        text-align: center;
        font-size: 40px;
        min-height: 70px;
        background-color: #00BD39;
        border-radius: 10px;
    }
    
    .item-a {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        min-height: 325px;
        grid-area: item-a;
        background-color: #60016D;
        border-radius: 10px;
    }
    
    .item-a img {
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    .item-b {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 25px;
        grid-area: item-b;
        background-color: #9303A7;
        border-radius: 10px;
    }
    .item-b p {
        position: relative;
        left: 10px;
    }
    
    .item-c {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 25px;
        grid-area: item-c;
        background-color: rgb(116, 116, 163);
        border-radius: 10px;
    }
    .item-c p {
        position: relative;
        left: 10px;
    }
    .item-d {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 100px;
        grid-area: item-d;
        background-color: rgb(116, 116, 163);
        border-radius: 10px;
    }
    .item-d h3, p {
        position: relative;
        left: 10px;
        width: 95%;
    }
    .item-d p {
        text-align: justify;
    }
    .item-d h3 {
        margin: 0 0 5px 0;
        padding: 0px;
    }

    
    .item-e {
        min-height: 100px;
        grid-area: item-e;
        background-color: rgb(148, 148, 199);
        border-radius: 10px;
    }
    
    footer {
        min-height: 100px;
        grid-area: footer;
        background-color: #60016D;
        border-radius: 10px;
    }
    
    .container {
        display: grid;
        grid-gap: 10px;
        max-width: 1024px;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header header header header" 
            "item-a item-a item-a item-a item-a item-a" 
            "item-b item-b item-b item-b item-b item-b" 
            "item-c item-c item-c item-c item-c item-c" 
            "item-d item-d item-d item-d item-d item-d"
            "item-e item-e item-e item-e item-e item-e" 
            "footer footer footer footer footer footer";
    }
  }
  @media screen and (max-width: 480px) {
    header {
        display: grid;
        width: 100%;
        align-items: center;
        grid-area: header;
        text-align: center;
        font-size: 40px;
        min-height: 70px;
        background-color: #00BD39;
        border-radius: 10px;
    }
    
    .item-a {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        min-height: 325px;
        grid-area: item-a;
        background-color: #60016D;
        border-radius: 10px;
    }
    
    .item-a img {
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    .item-b {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 25px;
        grid-area: item-b;
        background-color: #9303A7;
        border-radius: 10px;
    }
    .item-b p {
        position: relative;
        left: 10px;
    }
    
    .item-c {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 25px;
        grid-area: item-c;
        background-color: rgb(116, 116, 163);
        border-radius: 10px;
    }
    .item-c p {
        position: relative;
        left: 10px;
    }
    .item-d {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 100px;
        grid-area: item-d;
        background-color: rgb(116, 116, 163);
        border-radius: 10px;
    }
    .item-d h3, p {
        position: relative;
        left: 10px;
        width: 95%;
    }
    .item-d p {
        text-align: justify;
    }
    .item-d h3 {
        margin: 0 0 5px 0;
        padding: 0px;
    }

    
    .item-e {
        min-height: 100px;
        grid-area: item-e;
        background-color: rgb(148, 148, 199);
        border-radius: 10px;
    }
    
    footer {
        min-height: 100px;
        grid-area: footer;
        background-color: #60016D;
        border-radius: 10px;
    }
    
    .container {
        display: grid;
        grid-gap: 10px;
        max-width: 1024px;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header header header header" 
            "item-a item-a item-a item-a item-a item-a" 
            "item-b item-b item-b item-b item-b item-b" 
            "item-c item-c item-c item-c item-c item-c" 
            "item-d item-d item-d item-d item-d item-d"
            "item-e item-e item-e item-e item-e item-e" 
            "footer footer footer footer footer footer";
    }
  }

  @media screen and (min-width: 100px) {
    header {
        display: grid;
        width: 100%;
        align-items: center;
        grid-area: header;
        text-align: center;
        font-size: 40px;
        min-height: 70px;
        background-color: #00BD39;
        border-radius: 10px;
    }
    
    .item-a {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px 0px 10px 0px;
        min-height: 325px;
        grid-area: item-a;
        background-color: #60016D;
        border-radius: 10px;
    }
    
    .item-a img {
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    .item-b {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 25px;
        grid-area: item-b;
        background-color: #9303A7;
        border-radius: 10px;
    }
    .item-b p {
        position: relative;
        left: 10px;
    }
    
    .item-c {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 25px;
        grid-area: item-c;
        background-color: rgb(116, 116, 163);
        border-radius: 10px;
    }
    .item-c p {
        position: relative;
        left: 10px;
    }
    .item-d {
        display: grid;
        width: 100%;
        align-items: center;
        justify-content: left;
        padding: 10px 0px 10px 0px;
        min-height: 100px;
        grid-area: item-d;
        background-color: rgb(116, 116, 163);
        border-radius: 10px;
    }
    .item-d h3, p {
        position: relative;
        left: 10px;
        width: 95%;
    }
    .item-d p {
        text-align: justify;
    }
    .item-d h3 {
        margin: 0 0 5px 0;
        padding: 0px;
    }

    
    .item-e {
        min-height: 100px;
        grid-area: item-e;
        background-color: rgb(148, 148, 199);
        border-radius: 10px;
    }
    
    footer {
        min-height: 100px;
        grid-area: footer;
        background-color: #60016D;
        border-radius: 10px;
    }
    
    .container {
        display: grid;
        grid-gap: 10px;
        max-width: 1024px;
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header header header" 
        "item-a item-a item-b item-b item-b item-b" 
        "item-a item-a item-c item-c item-c item-c" 
        "item-a item-a item-d item-d item-d item-d" 
        "item-e item-e item-e item-e item-e item-e" 
        "footer footer footer footer footer footer";
    }
  }
   